/* Ensures the whole app takes full height */
.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Main content expands to push footer down */
.main-content {
    flex: 1;
    padding-top: 25px;
    /* space for fixed navbar */
}

/* Ensure no horizontal scroll */
body {
    overflow-x: hidden;
}

